.certifications-section-heading{
    margin: 1% 0 1%;
    color: var(--brightBlue);
    font-size: 2.8rem !important;
    font-weight: bold;
}

.certifcate-div
{
    height: 100% !important;
}

.tick  {
    color: var(--darkBlue) !important;
}

.desiredH5Cer
{
    color: var(--brightBlue);
}